*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%
}
main{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 220px 500px 250px 200px 80px 400px 400px 250px 300px 250px;
    padding: 0px 12px;
    grid-template-areas: "header header header header"
                         "article article article article"
                         "section1 section1 section1 section1"
                         "section2 section2 section2 section2"
                         "section3 section3 section3 section3"
                         "section4 section4 section4 section4"
                         "section5 section5 section5 section5"
                         "section6 section6 section6 section6"
                         "section7 section7 section7 section7"
                         "section8 section8 section8 section8"
                         "footer footer footer footer";
}
header{ 
    background-color: rgb(255, 255, 255);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
header #header-middle{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
#header-middle h5{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.63);
} 
#header-last button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid royalblue;
}
#header-last>#button1{
    border: 1px solid royalblue;
    background-color: #fff;
    color: royalblue;
    margin-right: 10px;
}

article{
    width: 100%;
    background-color: rgb(248, 248, 248);
    grid-area: article;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 50px;
}
#article1{
    width: 25%;
    /* background-color: red; */
}
#article1 h1{
    font-size: 50px;
    font-weight: 400;
}
#article2{
    width: 68%;
}
#article2>p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.644);
}
#article-button{
    padding: 20px 0px;
}
#article-button1{
    border: 1px solid royalblue;
    background-color: royalblue;
    color: white;
    margin-right: 10px;
    padding: 13px 20px;                                                                      
    border-radius: 30px;
    font-size: 18px;
}
#article-button2{
    border: 1px solid royalblue;
    background-color: #fff;
    color: royalblue;
    border-radius: 30px;
    padding: 13px 20px;
    font-size: 18px;
}


#section1{
    /* background-color: gold; */
    grid-area: section1;
    padding: 0px 50px;
}
#section1>#section1-div{
    height: 100%;
    background-color: red;
    background-image: url(https://i.pinimg.com/1200x/29/8a/4d/298a4dd7865add740eb6eab743f7e669.jpg);
    border-radius: 25px;
}

#section2{
    /* background-color: green; */
    grid-area: section2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
#section2-1{
    width: 18%;
    text-align: center;
}
#section2-1 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-1 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section2-2{
    width: 18%;
    text-align: center;
}
#section2-2 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-2 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section2-3{
    width: 18%;
    text-align: center;
}
#section2-3 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-3 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section2-4{
    width: 18%;
    text-align: center;
}
#section2-4 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-4 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section3{
    background-color: hotpink;
    grid-area: section3;

}
#section4{
    background-color: blue;
    grid-area: section4;

}
#section5{
    background-color: blueviolet;
    grid-area: section5;

}
#section6{
    background-color: brown;
    grid-area: section6;

}
#section7{
    background-color: burlywood;
    grid-area: section7;

}
#section8{
    background-color: chocolate;
    grid-area: section8;

}
footer{
    background-color: olivedrab;
    grid-area: footer;
}