*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%
}
main{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 220px 500px 250px 550px 270px 850px 800px 250px 300px 250px;
    padding: 0px 12px;
    grid-template-areas: "header header header header"
                         "article article article article"
                         "section1 section1 section1 section1"
                         "section2 section2 section2 section2"
                         "section3 section3 section3 section3"
                         "section4 section4 section4 section4"
                         "section5 section5 section5 section5"
                         "section6 section6 section6 section6"
                         "section7 section7 section7 section7"
                         "section8 section8 section8 section8"
                         "footer footer footer footer";
}
header{ 
    background-color: rgb(255, 255, 255);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
header #header-middle{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
#header-middle h5{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.63);
} 
#header-last button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid royalblue;
}
#header-last>#button1{
    border: 1px solid royalblue;
    background-color: #fff;
    color: royalblue;
    margin-right: 10px;
}

article{
    width: 100%;
    background-color: rgb(248, 248, 248);
    grid-area: article;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 50px;
}
#article1{
    width: 25%;
    /* background-color: red; */
}
#article1 h1{
    font-size: 50px;
    font-weight: 400;
}
#article2{
    width: 68%;
}
#article2>p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.644);
}
#article-button{
    padding: 20px 0px;
}
#article-button1{
    border: 1px solid royalblue;
    background-color: royalblue;
    color: white;
    margin-right: 10px;
    padding: 13px 20px;                                                                      
    border-radius: 30px;
    font-size: 18px;
}
#article-button2{
    border: 1px solid royalblue;
    background-color: #fff;
    color: royalblue;
    border-radius: 30px;
    padding: 13px 20px;
    font-size: 18px;
}


#section1{
    /* background-color: gold; */
    grid-area: section1;
    padding: 0px 50px;
}
#section1>#section1-div{
    height: 100%;
    background-color: red;
    background-image: url(https://i.pinimg.com/1200x/07/35/8c/07358c35f03691279cc221fc3eacaee1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

#section2{
    /* background-color: green; */
    grid-area: section2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
#section2-1{
    width: 18%;
    text-align: center;
}
#section2-1 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-1 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section2-2{
    width: 18%;
    text-align: center;
}
#section2-2 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-2 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section2-3{
    width: 18%;
    text-align: center;
}
#section2-3 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-3 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}
#section2-4{
    width: 18%;
    text-align: center;
}
#section2-4 h1{
    font-size: 60px;
    font-weight: 500;
}
#section2-4 h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.329);
}

#section3{
    background-color: rgba(134, 134, 134, 0.048);
    grid-area: section3;
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
}
#section3-1{
    width: 40%;
}
#section3-1 h2{
    width: 24%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid black;
    padding: 8px 20px;
    color: rgba(0, 0, 0, 0.658);
}
#section3-1 h3{
    margin-top: 160px;
    width: 90%;
    font-size: 35px;
    font-weight: 500;
}
#section3-1 p{
    margin-top: 40px;
    width: 110%;
    font-size: 20px;
    font-weight: 500;
}
#section3-2{
    width: 50%;
    background-image: url(https://i.pinimg.com/736x/21/b4/ab/21b4ab52c126bc44e424213366bda745.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

#section4{
    background-color: white;
    grid-area: section4;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    gap: 140px;
}
#section4-1{
    width: 45%;
}
#section4-1 h1{
    width: 22%;
    padding: 8px 17px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.849);
    color: rgba(0, 0, 0, 0.733);
}
#section4-1 h2{
    font-size: 43px;
    font-weight: 500;
    margin-top: 20px;
    letter-spacing: -1px;
}
#section4-2{
    width: 50%;
}
#section4-2 p{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 60px;
}

#section5{
    background-color: white;
    grid-area: section5;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card{
    height: 27vw;
    width: 21vw;
    background-color: rgb(0, 102, 255);
    border-radius: 25px;
    position: relative;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}
.card>h1{
    position: absolute;
    bottom: 20%;
    left: 21%;
    /* text-align: center; */
    color: rgba(255, 255, 255, 0.877);
    font-size: 26px;
    font-weight: 500;
}
.card>h2{
    position: absolute;
    bottom: 10%;
    left: 20%;
    /* text-align: center; */
    color: rgba(255, 255, 255, 0.582);
    font-size: 20px;
    font-weight: 500;
}

.card:nth-child(1){
    padding: 21px;
}
.card:nth-child(1) h1{
    position: absolute;
    left: 10%;
    top: 5%;
}
.card:nth-child(1) h2{
    position: absolute;
    left: 10%;
    top: 14%;
}
.card:nth-child(1) p{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    color: rgba(255, 255, 255, 0.411);
}
.card:nth-child(1) #card1{
    position: absolute;
    left: 10%;
    bottom: 10%;
    gap: 20px;
}
.card:nth-child(1) #card1 i{
    font-size: 1.5vw;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.164);
    color: white;
    border-radius: 50%;
    padding: 10px ;
}
#card1{
    display: flex;
}


#section6{
    background-color: rgba(209, 209, 209, 0.219);
    grid-area: section6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 170px 1fr;
    padding: 0px 50px;
    grid-template-areas: "box1 box1"
                         "box2 box2"
                         "box3 box4";
}
#section6 #box1{
    grid-area: box1;
    display: flex;
    align-items: flex-end;
}
#box1 h1{
    font-size: 19px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 30px;
    padding: 8px 20px;
}
#section6 #box2{
    /* background-color: rgb(211, 88, 109); */
    grid-area: box2;
    display: flex;
    width: 100%;
    gap: 50px;
}
#box2 h2{
    width: 50%;
    font-size: 45px;
    font-weight: 500;
    /* background-color: red; */
    letter-spacing: -1.5px;
    line-height: 42px;
    padding: 20px 0px;
}
#box2 p{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.493);
    /* background-color: khaki; */
    padding: 35px 0;
}
#section6 #box3{
    height: 85%;
    width: 92%;
    background-color: rgba(28, 77, 168, 0.548);
    grid-area: box3;
    border-radius: 30px;
}
#box3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
#section6 #box4{
    height: 85%;
    width: 92%;
    background-color: transparent;
    grid-area: box4;
}

#box4 .timeline-content{
    position: relative;
    padding-left: 100px;
}

.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -65px;
  top: -3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
}

.timeline-item.active::before {
  background-color: #007bff;
}

.year {
  color: #007BFF;
  font-weight: bold;
  display: block;
  margin-bottom: 17px;
}

h3{
  font-size: 25px;
  font-weight: 500;
  color: #333333f3;
  margin-bottom: 12px;
}

p {
  color: #666;
  font-size: 17px;
  line-height: 1.3;
}

a{
    text-decoration: none;
    color: #1b1e20;
    font-weight: 500;
    margin-bottom: 12px;
}


#section7{
    background-color: burlywood;
    grid-area: section7;

}
#section8{
    background-color: chocolate;
    grid-area: section8;

}
footer{
    background-color: olivedrab;
    grid-area: footer;
}